@import '../../sass/mixins';

.side-menu {
  display: inline;
  float: left;
  width: 22%;
  padding: 2%;
}
.content {
  display: inline;
  float: left;
  width: 70%;
  padding: 2%;
}
button {
  width: 97%;
  height: 45px;
  border-radius: 10px;
  @include button;

}
