<perfect-scrollbar>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}}. </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [routerLink]="[element.id]">Details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</perfect-scrollbar>
<mat-paginator [pageSizeOptions]="[100]" [hidePageSize]="true" (page)="restartScrollbar()"></mat-paginator>
<div class="search-bar">
  <input (keyup)="applyFilter($event)" type="text" maxlength="18" placeholder="Filter">
</div>
