<mat-toolbar color="primary">
  <span [routerLink]="['']" class="first">Blizzard API</span>
  <div class="menu-buttons">
    <button [routerLinkActive]="['active']" [routerLink]="['/wow']" mat-button>World Of Warcraft</button>
    <button [disabled]="true" title="Not yet implemented." mat-button>Diablo</button>
    <button [disabled]="true" title="Not yet implemented." mat-button>Hearthstone</button>
    <button [disabled]="true" title="Not yet implemented." mat-button>Starcraft</button>
  </div>
</mat-toolbar>
<div class="content">
  <mat-toolbar class='character' color="primary">
    <span class="first no-hover">Character</span>
    <app-character></app-character>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
