<mat-toolbar color="primary">
  <span [routerLink]="['']" class="first">Blizzard API</span>
  <div class="menu-buttons">
    <button [routerLinkActive]="['active']" [routerLink]="['/wow']" mat-button>World Of Warcraft</button>
    <button [disabled]="true" title="Not yet implemented." mat-button>Diablo</button>
    <button [disabled]="true" title="Not yet implemented." mat-button>Hearthstone</button>
    <button [disabled]="true" title="Not yet implemented." mat-button>Starcraft</button>
  </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
